<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">会员列表</div>
    <div class="panel-body" style="padding: 5px;">
        <!--这里是模块标题/名称-->

        <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <a target="_blank" class="new-user" data-href="/setting/user/add">添加会员</a>
            </button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">菜单1</button>
            <button type="button" class="btn btn-default">菜单2</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
        <!--<form class="navbar-form navbar-right">-->
        <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->

    </div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr class="active">
            <th>
                序号
            </th>
            <th>
                操作
            </th>
            <th>
                用户名
            </th>
            <th>
                昵称
            </th>
            <th>
                密码(密文)
            </th>
            <th>
                创建时间
            </th>
            <th>
                手机
            </th>
            <th>
                邮箱
            </th>
        </tr>
        </thead>
        <tbody>
        {{range $key, $val := .users}}
        <tr>
            <td>
            {{$val.Id}}
            </td>
            <td>
                <a target="_blank" class="edit-user list-btn" data-href="/setting/user/edit/{{$val.Id}}">编辑</a>
                <a data-url="/setting/user/delete/{{$val.Id}}" class="delete-user list-btn">删除</a>
            </td>
            <td>
            {{$val.Username}}
            </td>
            <td>
            {{$val.Neckname}}
            </td>
            <td>
            {{$val.Password}}
            </td>
            <td>
            {{$val.Created}}
            </td>
            <td>
            {{$val.Mobile}}
            </td>
            <td>
            {{$val.Email}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

<script>
    $(function(){
        //删除商品
        $(".delete-user").click(function(){
            var _url = $(this).attr("data-url");
            layer.confirm('确定要删除本用户吗?', {icon: 3, title:'提示'}, function(index){
                //确认之后的回调 ajax删除的事情
                $.ajax({
                    url:_url,
                    type:"POST",
                    success:function(res){
                        if(res.result == 1){
                            layer.msg(res.msg, {icon: 6, offset:'t', anim:6, time: 2000}, function(){
                                _reloadPage();
                            });
                        }else{
                            layer.msg(res.msg, {icon: 5, offset:'t', anim:6, time: 2000});
                        }
                    }
                });
                layer.close(index);
            });
        });

        //增加或者新建
        $(".new-user, .edit-user").click(function(){
            var _url = $(this).attr("data-href");
            layer.open({
                type: 2,
                content: _url,
                title: "新增/修改 用户信息",
                area: ['800px', '400px'],
                maxmin: true,
                success: function(_e){
                    //
                },
                end:function () {
                    _reloadPage();//关闭后刷新页面
                }
            });
        });

        //刷新页面
        var _reloadPage = function(){
            location.reload();
        }
    });
</script>