<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">订单列表</div>
    <div class="panel-body" style="padding: 5px;">
        <!--这里是模块标题/名称-->
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <a target="_blank" class="new-orders" data-href="/order/new">新建订单</a>
            </button>
            <button type="button" class="btn btn-default"><a target="_blank" href="/test/order">testcaseCreateOrder</a></button>
            <button type="button" class="btn btn-default"><a href="/order/list">刷新</a></button>
            <button type="button" class="btn btn-default">菜单2</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr class="active">
            <th>
                订单号
            </th>
            <th>
                操作
            </th>
            <th>
                订单状态
            </th>
            <th>
                总金额
            </th>
            <th>
                支付方式
            </th>
            <th>
                已支付金额
            </th>
            <th>
                创建时间
            </th>
            <th>
                发货状态
            </th>
        </tr>
        </thead>
        <tbody>
        {{range $key, $val := .orders}}
        <tr>
            <td>
            {{$val.OrderBn}}
            </td>
            <td>
                <a target="_blank" class="edit-orders list-btn" data-href="/orders/edit/{{$val.Id}}">编辑</a>
                <a data-url="/order/detail/{{$val.Id}}" class="detail-orders list-btn">明细</a>
            </td>
            <td>
            <!--0活动订单   1完成订单finish    2作废订单-->
                {{if eq $val.Status 0}}
                活动订单
                {{else if eq $val.Status 1}}
                已完成
                {{else if eq $val.Status 2}}
                作废订单
                {{end}}
            </td>
            <td>
            {{$val.TotalPrice}}
            </td>
            <td>
            {{$val.PayMethod}}
            </td>
            <td>
            {{$val.Payed}}
            </td>
            <td>
            {{dateformat $val.Created "2006-01-02 15:04:05"}}
            </td>
            <td>
                <!-- 0未发货  1已发货   2部分发货   3已退货 -->
                {{if eq $val.ShipStatus 0}}
                    未发货
                {{else if eq $val.ShipStatus 1}}
                    已发货
                {{else if eq $val.ShipStatus 2}}
                    部分发货
                {{else if eq $val.ShipStatus 3}}
                    已退货
                {{end}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

<script>
    $(function(){
        //查看详细信息
        $(".detail-orders").click(function(){
            var _url = $(this).attr("data-url");
            layer.open({
                type: 2,
                content: _url,
                title: "订单详细信息",
                area: ['800px', '600px'],
                maxmin: true,
                success: function(_e){
                    //
                },
                end:function () {
                    _reloadPage();//关闭后刷新页面
                }
            });
        });

        //手动创建订单
        $(".new-orders").click(function(){
            var _url = $(this).attr('data-href');
            layer.open({
                type:2,
                content: _url,
                title: "新建订单",
                area: ['800px', '600px'],
                maxmin: true,
                success: function (e) {
                    //
                },
                end:function () {
                    _reloadPage();
                }
            });
        });

        //刷新页面
        var _reloadPage = function(){
            location.reload();
        }
    });
</script>