<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">出入库列表</div>
    <div class="panel-body" style="padding: 5px;">
        <!--这里是模块标题/名称-->

        <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <a data-href="/store/io/newin" class="new-in">添加入库单</a>
            </button>
            <button type="button" class="btn btn-default">
                <a data-href="/store/io/newout" class="new-out">添加出库单</a>
            </button>
            <button type="button" class="btn btn-default">菜单2</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr class="active">
            <th>
                序号
            </th>
            <th>
                操作
            </th>
            <th>
                状态
            </th>
            <th>
                仓库名称
            </th>
            <th>
                货品名称
            </th>
            <th>
                货号
            </th>
            <th>
                出/入库
            </th>
            <th>
                数量
            </th>
            <th>
                创建人
            </th>
            <th>
                审核人
            </th>
        </tr>
        </thead>
        <tbody>
        {{range $key, $val := .ios}}
        <tr>
            <td>
            {{$val.Id}}
            </td>
            <td>
                {{if eq $val.Status 0}}
                    <a target="_blank" class="confirm-io list-btn" data-href="/store/io/confirm/{{$val.Id}}">审核</a>
                    <a data-href="/store/io/cancel/{{$val.Id}}" class="cancel-io list-btn">作废</a>
                {{else}}
                    无
                {{end}}
            </td>
            <td>
            {{if eq $val.Status 0}}未审核{{end}}
            {{if eq $val.Status 1}}已审核{{end}}
            {{if eq $val.Status 2}}已作废{{end}}
            </td>
            <td>
            {{$val.Branch.Name}}
            </td>
            <td>
            {{$val.Goods.Name}}
            </td>
            <td>
            {{$val.Goods.Bn}}
            </td>
            <td>
            {{if eq $val.Type 1}}入库{{ else }}出库{{ end }}
            </td>
            <td>
            {{$val.Number}}
            </td>
            <td>
            {{$val.CreateBy}}@{{dateformat $val.Created "2006-01-02 15:04:05"}}
            </td>
            <td>
            {{or $val.ConfirmBy "None"}}@{{dateformat $val.ConfirmAt "2006-01-02 15:04:05"}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

<script>
    $(function(){
        //审核出入库单
        $(".confirm-io").click(function(){
            var _url = $(this).attr("data-href");
            layer.confirm('确定要审核通过该出入库单吗?', {icon: 3, title:'提示'}, function(index){
                //确认之后的回调 ajax删除的事情
                $.ajax({
                    url:_url,
                    type:"POST",
                    success:function(res){
                        if(res.result == 1){
                            layer.msg(res.msg, {icon: 6, offset:'t', anim:6, time: 2000}, function(){
                                _reloadPage();
                            });
                        }else{
                            layer.msg(res.msg, {icon: 5, offset:'t', anim:6, time: 2000});
                        }
                    }
                });
                layer.close(index);
            });
        });

        //作废出入库单
        $(".cancel-io").click(function(){
            var _url = $(this).attr("data-href");
            layer.confirm('确定要作废该出入库单吗?', {icon: 3, title:'提示'}, function(index){
                //确认之后的回调 ajax删除的事情
                $.ajax({
                    url:_url,
                    type:"POST",
                    success:function(res){
                        if(res.result == 1){
                            layer.msg(res.msg, {icon: 6, offset:'t', anim:6, time: 2000}, function(){
                                _reloadPage();
                            });
                        }else{
                            layer.msg(res.msg, {icon: 5, offset:'t', anim:6, time: 2000});
                        }
                    }
                });
                layer.close(index);
            });
        });

        $(".new-in, .edit-branch").click(function(){
            var _url = $(this).attr("data-href");
            layer.open({
                type: 2,
                content: _url,
                title: "新增入库单",
                area: ['800px', '600px'],
                maxmin: true,
                success: function(_e){
                    //
                },
                end:function () {
                    _reloadPage();//关闭后刷新页面
                }
            });
        });
        $(".new-out, .edit-branch").click(function(){
            var _url = $(this).attr("data-href");
            layer.open({
                type: 2,
                content: _url,
                title: "新增出库单",
                area: ['800px', '600px'],
                maxmin: true,
                success: function(_e){
                    //
                },
                end:function () {
                    _reloadPage();//关闭后刷新页面
                }
            });
        });

        //刷新页面
        var _reloadPage = function(){
            location.reload();
        }
    });
</script>